<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Prolancer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" type='text/css' href="/css/style.css">
	<link rel="stylesheet" type='text/css' href="/css/colors/blue.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="http://localhost:3000/index"><img src="/images/prolancerlogo.jpeg" alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li><a href="#" class="current">Home</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/index">Home Page</a></li>

									</ul>
								</li>

								<li><a href="#">Find Work</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/jobs-grid-layout-full-page">Browse Jobs</a>
										</li>
										<li><a href="http://localhost:3000/tasks-grid-layout-full-page">Browse Tasks</a>
										</li>
										<li><a href="http://localhost:3000/browsecompanyfreelancer">Browse Companies</a>
										</li>
									</ul>
								</li>


								<li><a href="#">Dashboard</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/single-freelancer-profile">View Profile</a>
										</li>
										<li><a href="http://localhost:3000/dashboard-reviews">Reviews</a></li>

										<li><a href="http://localhost:3000/dashboard-my-active-bids">Active Bids</a>
										</li>
										<li><a href="http://localhost:3000/myactivejobs">Active Jobs</a>
										</li>
										<li><a href="http://localhost:3000/dashboard-settings">Settings</a></li>
									</ul>
								</li>

								<li><a href="http://localhost:3000/pages-contact">Contact us</a>
								</li>

							</ul>
						</nav>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">


						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#">
										<div class="user-avatar status-online"><img src="<%= details[0].image %>"
												alt=""></div>
									</a>
								</div>

								<!-- Dropdown -->
								<div class="header-notifications-dropdown">

									<!-- User Status -->
									<div class="user-status">

										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online"><img src="<%= details[0].image %>"
													alt=""></div>
											<div class=" user-name">
												<%= details[0].f_name + " " + details[0].l_name %>
													<span>Freelancer</span>
											</div>
										</div>

										<!-- User Status Switcher -->
										<div class="status-switch" id="snackbar-user-status">
											<label class="user-online current-status">Online</label>
											<label class="user-invisible">Invisible</label>
											<!-- Status Indicator -->
											<span class="status-indicator" aria-hidden="true"></span>
										</div>
									</div>

									<ul class="user-menu-small-nav">
										<li><a href="http://localhost:3000/logout/freelancer"><i
													class="icon-material-outline-power-settings-new"></i> Logout</a>
										</li>
										<!-- Mobile Navigation Button -->
										<span class="mmenu-trigger">
											<button class="hamburger hamburger--collapse" type="button">
												<span class="hamburger-box">
													<span class="hamburger-inner"></span>
												</span>
											</button>
										</span>

								</div>
								<!-- Right Side Content / End -->

							</div>
						</div>
						<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->
		<!-- Intro Banner
================================================== -->
		<!-- add class "disable-gradient" to enable consistent background overlay -->
		<div class="intro-banner" data-background-image="/images/home-background.jpg">
			<div class="container">

				<!-- Intro Headline -->
				<div class="row">
					<div class="col-md-12">
						<div class="banner-headline">
							<h3>
								<strong>Hire experts or be hired for any job, any time.</strong>
								<br>
								<span>Thousands of small businesses use <strong class="color">Prolancers</strong> to
									turn their ideas into reality.</span>
							</h3>
						</div>
					</div>
				</div>



				<!-- Stats -->
				<div class="row">
					<div class="col-md-12">
						<ul class="intro-stats margin-top-45 hide-under-992px">
							<li>
								<strong class="counter">
									<%= noofjobs[0].count%>
								</strong>
								<span>Jobs Posted</span>
							</li>
							<li>
								<strong class="counter">
									<%= nooftasks[0].count%>
								</strong>
								<span>Tasks Posted</span>
							</li>
							<li>
								<strong class="counter">
									<%= nooffls[0].count%>
								</strong>
								<span>Freelancers</span>
							</li>
							<li>
								<strong class="counter">
									<%= noofcs[0].count%>
								</strong>
								<span>Companies</span>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>


		<!-- Content
================================================== -->
		<!-- Category Boxes -->
		<div class="section margin-top-65">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">

						<div class="section-headline centered margin-bottom-15">
							<h3>Popular Job Categories</h3>
						</div>

						<!-- Category Boxes Container -->
						<div class="categories-container">

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-file-code-o"></i>
								</div>
								<div class="category-box-counter">612</div>
								<div class="category-box-content">
									<h3>Web & Software Dev</h3>
									<p>Software Engineer, Web / Mobile Developer & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-cloud-upload"></i>
								</div>
								<div class="category-box-counter">113</div>
								<div class="category-box-content">
									<h3>Data Science & Analitycs</h3>
									<p>Data Specialist / Scientist, Data Analyst & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-suitcase"></i>
								</div>
								<div class="category-box-counter">186</div>
								<div class="category-box-content">
									<h3>Accounting & Consulting</h3>
									<p>Auditor, Accountant, Fnancial Analyst & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-pencil"></i>
								</div>
								<div class="category-box-counter">298</div>
								<div class="category-box-content">
									<h3>Writing & Translations</h3>
									<p>Copywriter, Creative Writer, Translator & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-pie-chart"></i>
								</div>
								<div class="category-box-counter">549</div>
								<div class="category-box-content">
									<h3>Sales & Marketing</h3>
									<p>Brand Manager, Marketing Coordinator & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-image"></i>
								</div>
								<div class="category-box-counter">873</div>
								<div class="category-box-content">
									<h3>Graphics & Design</h3>
									<p>Creative Director, Web Designer & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-bullhorn"></i>
								</div>
								<div class="category-box-counter">125</div>
								<div class="category-box-content">
									<h3>Digital Marketing</h3>
									<p>Darketing Analyst, Social Profile Admin & More</p>
								</div>
							</a>

							<!-- Category Box -->
							<a href="#" class="category-box">
								<div class="category-box-icon">
									<i class="icon-line-awesome-graduation-cap"></i>
								</div>
								<div class="category-box-counter">445</div>
								<div class="category-box-content">
									<h3>Education & Training</h3>
									<p>Advisor, Coach, Education Coordinator & More</p>
								</div>
							</a>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Category Boxes / End -->


		<!-- Features Jobs -->
		<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">

						<!-- Section Headline -->
						<div class="section-headline margin-top-0 margin-bottom-35">
							<h3>Featured Jobs</h3>
							<a href="http://localhost:3000/jobs-grid-layout-full-page" class="headline-link">Browse All
								Jobs</a>
						</div>
						<% for (let i=0; i < jobs.length; i++){ %>
							<!-- Jobs Container -->
							<div class="listings-container compact-list-layout margin-top-35">
								<!-- Job Listing -->
								<a href="http://localhost:3000/single-job-page/<%=jobs[i].job_id%>"
									class="job-listing with-apply-button">

									<!-- Job Listing Details -->
									<div class="job-listing-details">

										<!-- Logo -->
										<div class="job-listing-company-logo">
											<img src="<%= jobs[i].image%>" alt="">
										</div>

										<!-- Details -->
										<div class="job-listing-description">
											<h3 class="job-listing-title">
												<%= jobs[i].job_title%>
											</h3>

											<!-- Job Listing Footer -->
											<div class="job-listing-footer">
												<ul>
													<li><i class="icon-material-outline-location-on"></i>
														<%= jobs[i].location%>
													</li>
													<li><i class="icon-material-outline-business-center"></i>
														<%= jobs[i].jobtype%>
													</li>
													<li><i class="icon-material-outline"></i>
														<%= jobs[i].jobcategory%>
													</li>
												</ul>
											</div>
										</div>

										<a href="http://localhost:3000/single-job-page/<%=jobs[i].job_id%>"
											class="button button-sliding-icon ripple-effect">Apply Now <i
												class="icon-material-outline-arrow-right-alt"></i></a>
									</div>

								</a>

							</div>
							<%}%>
								<!-- Jobs Container / End -->

					</div>
				</div>
			</div>
		</div>
		<!-- Featured Jobs / End -->






		<!-- Highest Rated Freelancers -->
		<div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
			<div class="container">
				<div class="row">

					<div class="col-xl-12">
						<!-- Section Headline -->
						<div class="section-headline margin-top-0 margin-bottom-25">
							<h3>Highest Rated Freelancers</h3>
							<a href="http://localhost:3000/freelancers-grid-layout-full-page/"
								class="headline-link">Browse All
								Freelancers</a>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="default-slick-carousel freelancers-container freelancers-grid-layout">

							<!--Freelancer -->
							<% for (let i=0; i < freelancer.length; i++){ %>
								<div class="freelancer">

									<!-- Overview -->
									<div class="freelancer-overview">
										<div class="freelancer-overview-inner">

											<!-- Bookmark Icon -->
											<span class="bookmark-icon"></span>

											<!-- Avatar -->

											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a
													href="http://localhost:3000/single-freelancer-profile/<%=freelancer[i].id%>"><img
														src="<%= freelancer[i].image %>" alt=""></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a
														href="http://localhost:3000/single-freelancer-profile/<%=freelancer[i].id%>">
														<%= freelancer[i].f_name %>
															<%= freelancer[i].l_name %> <img class="flag"
																	src="/images/flags/gb.svg" alt=""
																	title="United Kingdom" data-tippy-placement="top">
													</a></h4>
												<span>
													<%= freelancer[i].tagline %>
												</span>
											</div>

											<!-- Rating -->
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="5.0"></div>
											</div>
										</div>
									</div>

									<!-- Details -->
									<div class="freelancer-details">
										<div class="freelancer-details-list">
											<ul>
												<li>Location <strong><i class="icon-material-outline-location-on"></i>
														<%= freelancer[i].Nationality %>
													</strong></li>
												<li>Rate <strong>$ <%= freelancer[i].min_rate %> / hr</strong></li>
												<li>Job Success <strong>85%</strong></li>
											</ul>
										</div>
										<a href="http://localhost:3000/single-freelancer-profile/<%=freelancer[i].id%>"
											class="button button-sliding-icon ripple-effect">View Profile <i
												class="icon-material-outline-arrow-right-alt"></i></a>
									</div>
								</div>
								<%}%>
									<!-- Freelancer / End -->
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Highest Rated Freelancers / End-->
		<!-- Footer
================================================== -->
		<div id="footer">

			<!-- Footer Top Section -->
			<div class="footer-top-section">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">

							<!-- Footer Rows Container -->
							<div class="footer-rows-container">

								<!-- Left Side -->
								<div class="footer-rows-left">
									<div class="footer-row">
										<div class="footer-row-inner footer-logo">
											<img src="/images/prolancerlogo.jpeg" alt="">
											<h1 style="font-size: 50px; color: blanchedalmond;">
												<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProLancers </strong>
											</h1>
										</div>
									</div>
								</div>

								<!-- Right Side -->
								<div class="footer-rows-right">

									<!-- Social Icons -->
									<div class="footer-row">
										<div class="footer-row-inner">
											<ul class="footer-social-links">
												<li>
													<a href="#" title="Facebook" data-tippy-placement="bottom"
														data-tippy-theme="light">
														<i class="icon-brand-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#" title="Twitter" data-tippy-placement="bottom"
														data-tippy-theme="light">
														<i class="icon-brand-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#" title="Google Plus" data-tippy-placement="bottom"
														data-tippy-theme="light">
														<i class="icon-brand-google-plus-g"></i>
													</a>
												</li>
												<li>
													<a href="#" title="LinkedIn" data-tippy-placement="bottom"
														data-tippy-theme="light">
														<i class="icon-brand-linkedin-in"></i>
													</a>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>

									<!-- Language Switcher -->
									<div class="footer-row">
										<div class="footer-row-inner">
											<label>Language : English</label>
										</div>
									</div>
								</div>

							</div>
							<!-- Footer Rows Container / End -->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Top Section / End -->

			<!-- Footer Middle Section -->
			<div class="footer-middle-section">
				<div class="container">
					<div class="row">

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>For Candidates</h3>
								<ul>
									<li><a href="http://localhost:3000/jobs-grid-layout-full-page"><span>Browse
												Jobs</span></a></li>
									<li><a href="http://localhost:3000/single-freelancer-profile"><span>
												Resume</span></a></li>
									<li><a href="http://localhost:3000/jobs-grid-layout-full-page"><span>Job
												Alerts</span></a></li>

							</div>
						</div>



						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>Helpful Links</h3>
								<ul>
									<li><a href="http://localhost:3000/pages-contact"><span>Contact</span></a></li>
									<li><a href="http://localhost:3000/privacy"><span>Privacy Policy</span></a></li>
									<li><a href="http://localhost:3000/termsofuse"><span>Terms of Use</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>Account</h3>
								<ul>
									<li><a href="http://localhost:3000/pages-login"><span>Log In</span></a></li>
									<li><a href="http://localhost:3000/single-freelancer-profile"><span>My
												Account</span></a></li>
								</ul>
							</div>
						</div>


					</div>
				</div>
			</div>
			<!-- Footer Middle Section / End -->

			<!-- Footer Copyrights -->
			<div class="footer-bottom-section">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							© 2022 <strong>Prolancers</strong>. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Copyrights / End -->

		</div>
		<!-- Footer / End -->




	</div>
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/mmenu.min.js"></script>
	<script src="/js/tippy.all.min.js"></script>
	<script src="/js/simplebar.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/snackbar.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/counterup.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		}); 
	</script>


	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var options = {
				types: ['(cities)'],
				// componentRestrictions: {country: "us"}
			};

			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input, options);
		}

		// Autocomplete adjustment for homepage
		if ($('.intro-banner-search-form')[0]) {
			setTimeout(function () {
				$(".pac-container").prependTo(".intro-search-field.with-autocomplete");
			}, 300);
		}

	</script>

	<!-- Google API -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&libraries=places&callback=initAutocomplete"></script>

</body>

</html>